body{
  width: 100%;
  max-width: 1200px;
  background-image: url("http://zona3.mx/sites/default/files/supermercado.jpg");
  background-size:cover;
}
.titulo{
  text-align: center;
}
h1{
  color: #000a44;
}
.contenedor{

    margin: auto;
  }
table,th,td{
  width: 50%;
  margin: auto;
  border: 2px solid  #8BC34A;;
  border-collapse: collapse;
  background-color:  #4CAF50;
  color:  #673AB7;
}
.cont{
  width: 80%;
  margin: auto;
  border: 2px solid  #8BC34A;;
  border-collapse: collapse;
  background-color:  #4CAF50;
  color:  #673AB7;
}
